.social-profile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.profile-card {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.profile-avatar {
  font-size: 60px;
  margin-bottom: 15px;
}

.common-back {
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
  color: white;
  background: rgba(83, 69, 69, 0.562);
}

.profile-card h2 {
  margin: 10px 0;
}

.profile-card h3 {
  margin: 5px 0;
  font-weight: normal;
  color: #fff;
}

.profile-card p {
  margin: 10px 0;
}

.details {
  margin-top: 15px;
}

.details p {
  margin: 5px 0;
}

/* Instagram color scheme */
.instagram {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

/* Twitter color scheme */
.twitter {
  background: #1da1f2;
}

/* Facebook color scheme */
.facebook {
  background: #3b5998;
}

.boost-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.boost-button {
  background-color: #4caf50; /* Adjust color to your preference */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.boost-button:hover {
  background-color: #45a049;
}

.boost-icon {
  font-size: 20px;
}

.headtext {
  margin-left: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .social-profile {
    justify-content: center;
    gap: 15px;
  }

  .profile-card {
    width: 250px;
    padding: 15px;
  }

  .profile-avatar {
    font-size: 50px;
  }

  .boost-button-container {
    margin-left: 10px;
  }

  .boost-button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .boost-icon {
    font-size: 18px;
  }

  .headtext {
    margin-left: 15px;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .social-profile {
    flex-direction: column;
    align-items: center;
  }

  .profile-card {
    width: 80%;
    padding: 10px;
    margin-left: -30px;
  }

  .profile-avatar {
    font-size: 40px;
  }

  .boost-button-container {
    justify-content: center;
    margin-left: 0;
    margin-top: 15px;
  }

  .boost-button {
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    justify-content: center;
  }

  .boost-icon {
    font-size: 16px;
  }

  .headtext {
    margin-left: 0;
    text-align: center;
    font-size: 18px;
  }
}
